.App {
    margin: 40px;

}

.search-form {
    margin-bottom: 20px;
}

.search-form__header {
    margin-left: 10px;
}

.search-form__input {
    margin: 0 10px;
}

.search-form__button {

}

.search-results {
    padding-left: 10px;
}

.search-results__item {
    margin-left: 15px;
}

.search-alert {
    list-style-type: none;
}

.artist-screen {

}

.artist-screen__header {
    margin: 0 0 10px 10px;
}

.artist-screen__back-button {
    margin: 0 10px 20px 10px;
}

.artist-albums {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 0 10px;
}

.artist-albums__album {
    padding: 0 15px 15px 0;
}

.hidden {
    display: none;
}