.App {
    margin: 40px;
    padding: 10px;
}

.search-form {
    margin-bottom: 20px;
}

.search-form__header {
    margin-right: 10px;
}

.search-form__input {
    margin-right: 10px;
}

.search-form__button {

}

.search-results {
    padding-left: 15px;
}

.search-results__item {
    margin: 2px 0;
}

.search-results_no-items {
    list-style-type: none;
}

.artist-screen {

}

.artist-screen__header {
    margin: 10px;
}

.artist-screen__back-button {
    margin: 0 10px 20px 10px;
}

.artist-albums {
    display: flex;
    flex-wrap: wrap;

}

.artist-albums__album {
    padding: 10px;
}

.hidden {
    display: none;
}

/*TODO: make a focus on input*/