.App {
    margin: 40px;
    padding: 10px;
}

.search-form {
    margin-bottom: 20px;
}

.search-form__header {
    margin-right: 10px;
}

.search-form__input {
    margin-right: 10px;
}

.search-form__button {

}

.search-results {
    padding-left: 15px;
}

.search-results__item {
    margin: 2px 0;
}

.artist-screen {

}

.artist-screen__header {

}

.back-button {

}

.artist-albums {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
/*TODO: make CSS in BEM style*/
.artist-albums__album {
}

.hidden {
    display: none;
}

/*TODO: make a focus on input*/